#wrongAnswer{
  color: red;
  font-weight: bolder;
}

.btn-group{
  padding: 3%;
}

#start-flux{
  width: 40vw;

}

.col-md-3{
  width: 20vw;
  padding: 3vw;
}

#thatLanguage {
  color: blue;
}

#rightAnswer {
  color: blue;
  font-weight: bolder;
}
