<form class="form" ng-show="$ctrl.showSetup">
  <label for="langSelect">Select the Language in Which You'd Like to Train.</label>
  <select class="input-group" name="langSelect" ng-model="$ctrl.language">
    <option name="french">French</option>
    <option name="spanish">Spanish</option>
    <option name="german">German</option>
    <option name="latin">Latin</option>
    <option name="italian">Italian</option>
  </select>
  <label for="diffSelect">Select Training Difficulty</label>
  <select class="input-group" name="diffSelect" ng-model="$ctrl.difficulty">
    <option name="very-easy">Very Easy</option>
    <option name="easy">Easy</option>
    <option name="normal">Normal</option>
    <option name="hard">Hard</option>
    <option name="very-hard">Very Hard</option>
  </select>
  <button class="btn btn-danger-outline" ng-click="$ctrl.startFlux()">Start</button>
</form>

<div class="container" ng-show="$ctrl.showFlux">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{finalLang}}</h3>
    </div>
    <div class="panel-body">
      {{$ctrl.activePhrase}}
    </div>
  </div>

  <form class="form pager">
    <div class="form group">
      <label for="guess">Take a guess</label>
      <input ng-model="$ctrl.yourGuess" type="text" class="form-control" id="guess" placeholder="Your guess here"/>
    </div>
    <button ng-click="$ctrl.makeGuess()" class="btn btn-default" ng-disabled="$ctrl.noAnswer">Guess</button>
    <div class="list-group-item">
      <li class="list-group-item">
        {{$ctrl.yourScore}}
      </li>
    </div>
</form>
</div>

<div class="alert alert-success pager" role="alert" ng-show="$ctrl.showResults">
  <h2>You were {{$ctrl.rightWrong}}</h2>
  <p>Current Score: {{$ctrl.totalPoints}} / {{$ctrl.counter}}</p>
  <ul class="btn-group">
    <li class="list-group-item alert alert-danger" ng-show="$ctrl.rightAnswer" id="rightAnswer">ANSWER : {{$ctrl.myPhrase}}</li>
    <li class="list-group-item alert alert-danger" ng-show="$ctrl.wrongAnswer" id="wrongAnswer">ANSWER : {{$ctrl.myPhrase}}</li>
  </ul>
  <button class="btn btn-warning" ng-click="$ctrl.nextPhrase()">Next</button>
</div>

<div class="alert alert-info pager" role="alert" ng-show="$ctrl.showFinal">
  <h2>Training OVer!!!</h2>
  <p>Your Scored {{$ctrl.totalPoints}} Out of {{$ctrl.counter}} Points!</p>
  <ul>
    <li>
      You know your {{$ctrl.language}} {{$ctrl.mastery}}.
    </li>
  </ul>
  <button class="btn btn-warning" ng-click="$ctrl.nextPhrase()">Next</button>
</div>
<div class="progress pager">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{$ctrl.finalLength}}%">
    <span class="sr-only"></span>
  </div>
</div>
